<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="exercice.js"></script>
    <title>Exercice GUI</title>
  </head>
  <body ng-app="mainApp">
    <div class="jumbotron text-center">
      <h1>Exercice GUI</h1>
      <p>Add an Exercice</p>
    </div>
    <div class="container" ng-controller="ExerciceController as ctr">
      <button type="button" ng-click="ctr.addQuestion();" class="btn btn-primary">Add Question</button>
      <br><br>
      <div class="container" ng-repeat="index in ctr.exe">
        <div class="container">
          <div class="form-group">
            <label for="question1">Qustion {{index}}:</label>
            <input type="text"  class="form-control" id="question1">
          </div>
          <div class="form-group">
            <label for="answer1">Answer {{index}}:</label>
            <input type="text" class="form-control" id="answer">
          </div>
        </div>
        <button type="button" ng-click="ctr.removeQuestion();" class="btn btn-danger">Remove Question</button>
        <br><br>
      <!-- </div>
      <input type="text" value="{{ctr.itemNumber}}"/>
      </div> -->
  </body>
</html>
